<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    
    <!-- your app's js -->
    <script src="js/app.js"></script>
    
    <!-- angularjs min js -->
    <script src="lib/ionic/js/angular/angular-resource.min.js"></script>
    
    <!-- angularjs min js -->
    <!-- <script src="lib/ionic/js/angular/angular.min.js"></script> -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- REST access config js -->    
    <!-- <script src="js/services.js"></script>  -->
    
    

    
  </head>
  <body ng-app="starter">

    <ion-pane>
		<ion-content class="login-background loginPad">
		    <div class="login-logo">
		      
		    </div>
            <form role="form" ng-submit="login()" name="loginForm" novalidate="">
			    <div ng-controller="LoginController as login">
		            <label class="item item-input">
		                <span class="input-label">Username</span>
		                <input type="text" name="account_email" ng-model="login.m_username" ng-minlength="6" ng-maxlength="15" required>
		            </label>
		            <br>
		            <label class="item item-input">
		                <span class="input-label">Password</span>
		                <input type="password" name="account_password" ng-model="login.m_password" ng-minlength="3" ng-maxlength="10" required>
		            </label>
		            <div class="padding">
		                <button class="login-button button button-block btn" ng-click="login.login()">eeehh!!</button>
					</div>
					<div class="alert alert-danger text-center" ng-model="login.authMsg">{{login.authMsg}}</div>
				</div>
			</form>
			
		</ion-content>
    </ion-pane>
  </body>
</html>
